@page
@using bransjekartlegging.Models
@using Altinn.ApiClients.Dan.Models
@using Altinn.ApiClients.Dan.Models.Enums
@model SearchModel
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}


<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
<style>
    .accordion {
        background-color: aliceblue;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .active, .accordion:hover {
        background-color: lightsteelblue;
    }

    .panel {
        padding: 0 18px;
        background-color: #f8f9fa;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>

@foreach (DataSetV2 ds in @Model.SearchResults.DataSets)
{
    <button class="accordion">@ds.Source</button>
    <div class="panel">
        <table>
            <thead><tr><th>Navn</th><th>Verdi</th></tr></thead>
            @foreach (var item in @ds.DataSet.Values)
            {
                if (item.ValueType == DataSetValueType.Uri)
                {
                    <tr><td>@item.Name</td><td><a href="@item.Value" target="_blank" rel="noopener noreferrer">Lenke</a></td></tr>
                }
                else
                {
                    <tr><td>@item.Name</td><td>@item.Value</td></tr>
                }

            }
        </table>
      
    </div>

}









