@page
@using bransjekartlegging.Models
@model SearchModel
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}

@if (!Model.SearchQuery.Append)
{
    @:<table id="result-list">
    <thead>
    <tr>
        <th>Org.nr</th>
        <th>Navn</th>
        <th>Næringskoder</th>
        <th>Kommune</th>
        <th>Organisasjonsform</th>
        <th class="numeric">Antall ansatte</th>
        <th>Regnskapsperiode</th>
        <th class="numeric">Sum inntekter (hele tusen)</th>
        <th class="numeric">Sum kostnader (hele tusen)</th>
        <th class="numeric">Resultat (hele tusen)</th>
    </tr>
    </thead>
    @:<tbody>

}

@foreach (var searchHit in Model.SearchResults)
{
    <tr>
        <td>@searchHit.OrganizationNumber</td>
        <td>@searchHit.Name</td>
        <td>@searchHit.IndustryCodes.First().Name</td>
        <td>@searchHit.Municipality</td>
        <td>@searchHit.Type</td>
        <td class="numeric">@searchHit.Employees</td>
        @if (searchHit.AccountingPeriod != null)
        {
            <td>
                @searchHit.AccountingPeriod.Value.Item1.ToShortDateString()
                <span>-</span>
                @searchHit.AccountingPeriod.Value.Item2.ToShortDateString()
            </td>
            <td class="numeric">
                @{
                    var revenueInThousands = searchHit.Revenue / 1000;
                }
                @revenueInThousands
            </td>
            <td class="numeric">
                @{
                    var expensesInThousands = searchHit.Expenses / 1000;
                }
                @expensesInThousands
            </td>
            <td class="numeric">
                @{
                    var profitInThousands = searchHit.Profit / 1000;
                }
                @profitInThousands
            </td>
        }
        else
        {
            <td>Ikke tilgjengelig</td>
            <td></td>
            <td></td>
            <td></td>
        }
    </tr>
}

@if (!Model.SearchQuery.Append)
{
    @:</tbody>
    @:</table>

    <div class="container text-center">
        <button id="fetch-more" data-offset-page="0">Hent flere resultater</button>
    </div>
}